extends layouts/default
block pageVars
	- var page = "home"
block content
	.ui.stackable.grid
		.stretched.row
			.three.wide.column
				.ui.segment
					.ui.form
						.field
							.ui.search.selection.dropdown.pl1
								input(type='hidden')
								i.dropdown.icon
								input.search(type='text')
								.default.text Palmeiras
								.menu
						.field
							.ui.search.selection.dropdown.color
								input(type='hidden', name='color')
								i.dropdown.icon
								.default.text Select Color
								.menu
						.field
							.ui.search.selection.dropdown.bg
								input(type='hidden', name='bg')
								i.dropdown.icon
								.default.text Select Background
								.menu
						.field
							.ui.search.selection.dropdown.pl2
								input(type='hidden')
								i.dropdown.icon
								input.search(type='text')
								.default.text Corinthians
								.menu
			.thirteen.wide.column
				.ui.segment
					#versus.chartli(style="width:640px;height:360px")
block extraScripts
	+script('charts/_versus',true)
